/.vscode

.DS_Store
**/.sass-cache
**/node_modules
**/StyleSheets/*
/Build/node_modules/

Resources/Public/

Build/.yarn/unplugged
Build/.yarn/install-state.gz
Build/.pnp.cjs
Build/.pnp.loader.mjs
.gitconfig

/vendor/
/Tests/

*.txt
*.log