{namespace core = TYPO3\CMS\Core\ViewHelpers}

<html 
xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
xmlns:sf="http://typo3.org/ns/Stackfactory/SfSeolighthouse/ViewHelpers"
data-namespace-typo3-fluid="true">

<div id="carouselPreview" 
	class="carousel carousel-dark dalle-preview slide{f:if(condition: '{isSliding}', then: ' px-5', else: '')}" 
	data-bs-ride="carousel" 
	data-bs-wrap="false">
	<f:spaceless>
		<div class="carousel-inner row">
			<f:for each="{fileReferences}" as="fileReference" iteration="iterator">
				<f:variable name="itemOverflow">{iterator.index % 5}</f:variable>

				<f:if condition="{itemOverflow} === 0">
						<div class="dalle-preview-item carousel-item {f:if(condition: '{iterator.isFirst}', then: ' active', else: '')} {f:if(condition: '{isSliding}', then: ' py-4', else: '')}">
				</f:if>

				<f:if condition="{fileReference.publicUrl}">
					<f:then>
							<f:variable name="imageUrl" value="{fileReference.publicUrl}" />
							<img class="dalle-preview-item-image {f:if(condition: '{isSliding}', then: ' zoom p-2', else: '')}" src="{imageUrl}" alt="" />
					</f:then>
					<f:else>
							<div>Error retrieving image</div>
					</f:else>
				</f:if>

				<f:if condition="{itemOverflow} === 4 || {iterator.isLast}">
						</div>
				</f:if>
			</f:for>
		</div>
	</f:spaceless>
	
	<f:if condition="{isSliding}">
			<a class="carousel-control-prev" data-bs-target="#carouselPreview" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" data-bs-target="#carouselPreview" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
			</a>
	</f:if>

</div>